@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.reveal i {
    font-family: 'FontAwesome';
    font-style: normal;
}

body {
    background-image: radial-gradient(#ccf,black) !important;
}
.slide-background {
    background-image: url("/images/circle-blues.png");
    background-size: 400px !important;
    background-repeat: repeat !important;
    opacity: 0.65 !important;
}
img {
    border: 0px !important;
    background: transparent !important;
    rotate: 2.5deg;
}
